*_env*
__pycache__/
pellet_plants/
other_data/
fia_data/
outputs/
miniconda/
.conda/
.cache/
.ipynb_checkpoints/
Miniconda3-latest-Linux-x86_64.sh
job_coord*
job_state.*
job_county.*
env_short.sh
cleaner.sh
state.txt
*.json
*.csv
*.out
*.log
*.pdf
*.html
*.png
